*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
textual/LinearTransformation.weight filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_2936 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_2937 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_2940 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_2946 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_2947 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_2948 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_2949 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_2950 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_2953 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_2959 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_2960 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_2961 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_2962 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_2963 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_2966 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_2972 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_2973 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_2974 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_2975 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_2976 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_2979 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_2985 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_2986 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_2987 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_2988 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_2989 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_2992 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_2998 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_2999 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3000 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3001 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3002 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3005 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3011 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3012 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3013 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3014 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3015 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3018 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3024 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3025 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3026 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3027 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3028 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3031 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3037 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3038 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3039 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3040 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3041 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3044 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3050 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3051 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3052 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3053 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3054 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3057 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3063 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3064 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3065 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3066 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3067 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3070 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3076 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3077 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3078 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3079 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3080 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3083 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3089 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3090 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3091 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3092 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3093 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3096 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3102 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3103 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3104 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3105 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3106 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3109 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3115 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3116 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3117 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3118 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3119 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3122 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3128 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3129 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3130 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3131 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3132 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3135 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3141 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3142 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3143 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3144 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3145 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3148 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3154 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3155 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3156 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3157 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3158 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3161 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3167 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3168 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3169 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3170 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3171 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3174 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3180 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3181 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3182 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3183 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3184 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3187 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3193 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3194 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3195 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3196 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3197 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3200 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3206 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3207 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3208 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3209 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3210 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3213 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3219 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3220 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3221 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3222 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3223 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3226 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3232 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3233 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3234 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3235 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3236 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3239 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3245 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3246 filter=lfs diff=lfs merge=lfs -text
textual/onnx__MatMul_3247 filter=lfs diff=lfs merge=lfs -text
textual/tokenizer.json filter=lfs diff=lfs merge=lfs -text
textual/transformer.embeddings.position_embeddings.weight filter=lfs diff=lfs merge=lfs -text
textual/transformer.embeddings.word_embeddings.weight filter=lfs diff=lfs merge=lfs -text
